# Introduction of myself

My Name is Ahmad Sharmy Essalam

In [35]:
import numpy as np
import pandas as pd

In [36]:
df = pd.read_excel('NMC1-9.xlsx')
df

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[90982 rows x 5 columns]

## Menghitung setiap hambatan baterai tiap waktunya untuk cycle ganjil

Exploring

In [37]:
def resistance (v,i):
    r = v / i
    return r

In [38]:
resistance(3,2)

1.5

In [47]:
ganjil = df[df['Cycle'] % 2 == 1]
#Query untuk cycle ganjil
ganjil

       time(s)    V_m  Current (A)  Cycle       Cap
0            0  4.098        0.997      1  2.840817
1            1  4.096        0.998      1  2.840817
2            2  4.094        0.999      1  2.840817
3            3  4.093        0.998      1  2.840817
4            4  4.092        0.999      1  2.840817
...        ...    ...          ...    ...       ...
90977    90977  2.506        1.002      9  2.770180
90978    90978  2.504        1.002      9  2.770180
90979    90979  2.502        1.002      9  2.770180
90980    90980  2.500        1.002      9  2.770180
90981    90981  2.497        1.002      9  2.770180

[50540 rows x 5 columns]

Hasil

In [ ]:
# define function
def resistance (v,i):
    r = v / i
    return r

# List kosong
resistance_list = []

# For loop
for i in range(len(ganjil['time(s)'])):
    r = resistance(ganjil['V_m'].iloc[i], ganjil['Current (A)'].iloc[i])
    resistance_list.append(r)

ganjil['resistance'] = resistance_list

ganjil

# ## Menghitung setiap power baterai tiap waktunya untuk cycle genap

In [46]:
genap = df[df['Cycle'] % 2 == 0]
#Query hanya untuk cycle genap
genap

       time(s)    V_m  Current (A)  Cycle       Cap
10237    10237  4.111        0.993      2  2.833465
10238    10238  4.110        0.995      2  2.833465
10239    10239  4.108        0.998      2  2.833465
10240    10240  4.107        0.999      2  2.833465
10241    10241  4.107        1.001      2  2.833465
...        ...    ...          ...    ...       ...
80997    80997  2.508        1.000      8  2.783342
80998    80998  2.505        0.999      8  2.783342
80999    80999  2.503        0.999      8  2.783342
81000    81000  2.501        0.999      8  2.783342
81001    81001  2.499        1.000      8  2.783342

[40442 rows x 5 columns]

In [66]:
# define function
def power (v,i):
    r = v*i
    return r

# List kosong
power_list = []

# For loop
for i in range(len(genap['time(s)'])):
    r = power(genap['V_m'].iloc[i], genap['Current (A)'].iloc[i])
    power_list.append(r)

genap['power'] = power_list

genap

<ipython-input-66-ab4c91c3a6bd>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  genap['power'] = power_list

       time(s)    V_m  Current (A)  Cycle       Cap  resistance     power
10237    10237  4.111        0.993      2  2.833465    4.139980  4.082223
10238    10238  4.110        0.995      2  2.833465    4.130653  4.089450
10239    10239  4.108        0.998      2  2.833465    4.116232  4.099784
10240    10240  4.107        0.999      2  2.833465    4.111111  4.102893
10241    10241  4.107        1.001      2  2.833465    4.102897  4.111107
...        ...    ...          ...    ...       ...         ...       ...
80997    80997  2.508        1.000      8  2.783342    2.508000  2.508000
80998    80998  2.505        0.999      8  2.783342    2.507508  2.502495
80999    80999  2.503        0.999      8  2.783342    2.505506  2.500497
81000    81000  2.501        0.999      8  2.783342    2.503504  2.498499
81001    81001  2.499        1.000      8  2.783342    2.499000  2.499000

[40442 rows x 7 columns]