In [96]:
#checking pandas logic with duplicate function

#import library
import pandas as pd

#DataLoading & Cleansing
df = pd.read_csv('test.csv') #Loading dataset test]
df = df.drop(columns = ['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'] )
df['Type2'] = df['Type2'].fillna(0)               #Fill NaN into 0
df

#Datagrouping
#Grouping data berdasarkan Type, Pokemon dengan 2 Type dikelompokan dalam 2 Tipe yang berbeda
#Seluruh elemeneb
#dfGrass = df[[df["Type 1"] == "Fire"], [df["Type 2"] == "Fire"]]
#dfGrass

     #                       Name  Type1   Type2
0    1                  Bulbasaur  Grass  Poison
1    2                    Ivysaur  Grass  Poison
2    3                   Venusaur  Grass  Poison
3    3      VenusaurMega Venusaur  Grass  Poison
4    4                 Charmander   Fire       0
5    5                 Charmeleon   Fire       0
6    6                  Charizard   Fire  Flying
7    6  CharizardMega Charizard X   Fire  Dragon
8    6  CharizardMega Charizard Y   Fire  Flying
9    7                   Squirtle  Water       0
10   8                  Wartortle  Water       0
11   9                  Blastoise  Water       0
12   9    BlastoiseMega Blastoise  Water  Dragon
13  10                   Caterpie    Bug   Grass

In [94]:
#Pandas Chaining
dfGrass = df[df.Type1.eq("Grass")]
dfGrass

   #                   Name  Type1   Type2
0  1              Bulbasaur  Grass  Poison
1  2                Ivysaur  Grass  Poison
2  3               Venusaur  Grass  Poison
3  3  VenusaurMega Venusaur  Grass  Poison

In [98]:
#Multiple criteria filtering using .loc

dfGrass = df.loc[(df["Type1"] == "Grass") | (df["Type2"] == "Grass")]
dfGrass

     #                   Name  Type1   Type2
0    1              Bulbasaur  Grass  Poison
1    2                Ivysaur  Grass  Poison
2    3               Venusaur  Grass  Poison
3    3  VenusaurMega Venusaur  Grass  Poison
13  10               Caterpie    Bug   Grass